loguru 
pydantic_settings
requests
ollama
langchain
langchain-community
langchain-ollama
langchain-core
langchain_text_splitters
langchain-qdrant
ipykernel 
datasets
pdfplumber
fastembed
sentence-transformers
elevenlabs
unstructured[all-docs]
unstructured
qdrant-client
streamlit
streamlit-chat
python-dotenv
pypdf


